.newclass
{
    height: 200px;
    width: 200px;
    background-color: aqua;
}

@media (max-width: 300px){

    .newclass{
        background-color: green;
    }
}


@media(min-width:300px) and (max-width:400px){
    .newclass{
            background-color: pink;
    }
}


@media(min-width:400px) and (max-width:600px){
    .newclass{
        background-color: red;
    }
}

@media(max-width:600px){
    .newclass{
        background-color: blue;
    }
}