.my
{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
}
.div-container
{
    height: 60px;
    background-color: black;
    color:rgb(188, 132, 28);
    
}

.div-container .new
{
    background-color: rgb(188, 132, 28);
}
.div-main
{
    color: white;
    padding-left: 15%;
    word-spacing: 250px;    
}
a
{
    text-decoration: none;
    color: white;
}
.div-search
{
    text-align: end;

}




.div-search
{
    border: 45px;
    border-style:thin;
}
